<!--ABout US-->
<section id="about" class="padding bg_light">
  <div class="container aboutus">
    <div class="row">
      <div class="col-md-7 wow fadeInLeft" data-wow-delay="300ms">
       <h2 class="heading heading_space"><span>Welcome </span>to Inductive Health <span class="divider-left"></span></h2>
       <p class="bottom25">We understand the many demands on public health leaders.  In the end, you need actionable public health data and technology that just works.</p>
       <p class="bottom25">We’re the leader in public health disease surveillance, with more feeds, data, and systems under management than anyone else.  We help public health agencies of all sizes implement and manage technology to support efficient collection and analysis of public health data.</p>
       <p class="bottom25"><strong>Talk to us</strong> or any of our clients and hear what it’s like to work with us, or download our <strong>free guide</strong> on common HL7 integration pitfalls.</p>
      </div>
	  <div class="col-md-5 wow fadeInRight" data-wow-delay="300ms">
        <div class="image">
         <img src="images/runners_1000px_v2.jpg" alt="Xwin">
        </div>
      </div>
    </div>
  </div>
</section>
<!--ABout US-->
