<!--Search-->
<div id="search">
  <button type="button" class="close">×</button>
  <form>
    <input type="search" value="" placeholder="Search here...."  required/>
    <button type="submit" class="btn btn_common yellow">Search</button>
  </form>
</div>

<!--Slider-->
<section class="rev_slider_wrapper text-center">			
<!-- START REVOLUTION SLIDER 5.0 auto mode -->
  <div id="rev_slider_video" class="rev_slider"  data-version="5.0">
    <ul>	
    <!-- SLIDE  -->
      <li data-transition="fade">
        <!-- MAIN IMAGE -->
        <img src="{{page.banner.bg}}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgparallax="10" class="rev-slidebg">							
        
        <div class="rs-background-video-layer" 
         data-volume="mute" 
         data-videowidth="100%" 
         data-videoheight="100%" 
         data-videomp4="{{page.banner.bg}}"
         data-videopreload="preload" 
         data-videoloop="loop" 
         data-forceCover="1" 
         data-aspectratio="16:9" 
         data-autoplay="true" 
         data-autoplayonlyfirsttime="true" 
         data-nextslideatend="true" ></div>
        
        <!-- LAYER NR. 1 -->
        <div class="tp-caption tp-resizeme" 							
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['220','150','160','110']" data-voffset="['0','0','0','0']"						
        data-responsive_offset="on"
        data-auto_responsive="on"
        data-fontsize="['48','38','28','18']"
        data-textAlign="['center','center','center','center']"
        data-type="text"
        data-visibility="['on','on','on','on']"
        data-transform_idle="o:1;"
        data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;" 
        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" 
        data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"							 
        data-start="800">{{page.banner.layer1}}
        </div>
        
        <div class="tp-caption tp-resizeme" 							
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['300','230','230','280']" data-voffset="['0','0','0','0']"
        data-responsive_offset="on"
        data-visibility="['on','on','on','off']"
        data-textAlign="['center','center','center','center']"
        data-transform_idle="o:1;"
        data-transform_in="opacity:0;s:1000;e:Power2.easeInOut;" 
        data-transform_out="opacity:0;s:1000;s:1000;" 
        data-start="1500">{{page.banner.caption}}
        </div>
        <div class="tp-caption  tp-resizeme text-center" 							
        data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
        data-y="['390','350','310','180']" data-voffset="['0','0','0','0']"							
        data-responsive_offset="on"
        data-auto_responsive="on"
        data-width="['auto', 'auto', 'auto', 'auto']"
        data-visibility="['on','on','on','on']"
        data-textAlign="['center','center','center','center']"
        data-transform_idle="o:1;"
        data-transform_in="y:[-200%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" 
        data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" 
        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" 
        data-mask_out="x:0;y:0;s:inherit;e:inherit;" 							 
        data-start="2000">
        <a href="{{page.banner.btn1Url}}" class="border_radius btn_common blue">{{page.banner.btn1Text}}</a>
        <a href="{{page.banner.btn2Url}}" class="btn_common white_border">{{page.banner.btn2Text}}</a>
        </div>
      </li>
    </ul>				
  </div><!-- END REVOLUTION SLIDER -->
</section>	